doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stylesheets/style.css")
        title Accueil - SportsTrack

    body
        header.global-header
            nav.nav-bar(role="navigation")
                div.logo(title="Revenir à la page d'accueil SportsTrack")
                    a(href="/main")
                        span
                            b SPORTSTRACK
                div.deconnexion
                    a(href="/disconnect")
                        b Déconnexion

        div.welcome
            h1#titre Bienvenue sur SportsTrack!

            div.options
                button.btn(onclick="window.location.href='/upload'")
                    b Importer vos fichiers
                button.btn(onclick="window.location.href='/activities'")
                    b Mes activités
                button.btn(onclick="window.location.href='/apropos'")
                    b Mes informations personnelles
