doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stylesheets/style.css")
        title Erreur d'Inscription - SportsTrack

    body
        header.global-header
            nav.nav-bar(role="navigation")
                div.logo(title="Revenir à la page d'accueil SportsTrack")
                    a(href="/")
                        span
                            b SPORTSTRACK
                div.connexion
                    a(href="/connect")
                        b Se connecter

        div.enregistrement
            h1#titre Oups ! Quelque chose s'est mal passé.

            div.error-msg
                if error && error.message
                    p #{error.message}
                else
                    p Unknown error
                p Veuillez réessayer
                button.btn(onclick="window.location.href='/user_add'", type="submit")
                    b S'inscrire

                div.disclaimer
                    p
                        | En vous inscrivant sur SportsTrack, vous acceptez les
                        a(href="https://fr.wikipedia.org/wiki/Conditions_g%C3%A9n%C3%A9rales_d%27utilisation") conditions d'utilisation.
                        | Consultez notre
                        a(href="https://fr.wikipedia.org/wiki/Politique_de_confidentialit%C3%A9#:~:text=Une%20politique%20de%20confidentialit%C3%A9%20est,donn%C3%A9es%20transmises%20par%20ses%20clients.") politique de confidentialité.
                    p
                        | Vous êtes déjà membre ?
                        a(href="/connect") Connexion
