doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stylesheets/style.css")
        title Connexion - SportsTrack
    body
        header.global-header
            nav.nav-bar(role="navigation")
                div.logo(title="Revenir à la page d'accueil SportsTrack")
                    a(href="/")
                        span
                            b SPORTSTRACK
                div.connexion
                    a(href="/user_add")
                        b S'inscrire

        div.enregistrement
            h1#titre Connectez-vous sur SportTrack, et suivez vos activité sportives.
            form(action="", method="POST")
                div.form-item
                    label.mail E-mail
                    input.user-input(type="email", name="email", placeholder="E-mail", spellcheck="false", required)
                div.form-item
                    label.pwd Mot de passe
                    input.user-input(type="password", name="pswd", placeholder="Mot de passe", required)
                button.btn(type="submit")
                    b Se connecter
